@model Template.Web.Areas.Dipendenti.Users.IndexDipendentiViewModel
@{
    //ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
    ViewData["Fullday"] = 8;
}
@section pageTitle {
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h1>Le mie richieste</h1>
            </div>
        </nav>
    </div>   
}
@section pageSubtitle{
    <div class="table-container-d">
        <h3 class="sticky-column-d">Ferie</h3>
        <table class="table table-d">
            <thead>
                <tr class="sticky-column-d">
                    <th class="th-d" scope="col">Data Inizo</th>
                    <th class="th-d" scope="col">Data Fine</th>
                    <th class="th-d" scope="col">Ore Ferie</th>
                    <th class="th-d" scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @if (Model.AnyFerie().Count() == 0)
                {
                    <tr>
                        <td colspan="4">Nessun elemento trovato</td>
                    </tr>
                }
                else
                {
                    @foreach (var user in Model.AnyFerie())
                    {
                        if (user.HHoliday != 0)
                        { 
                            if (user.Request) 
                            {
                                ViewData["Request"] = "table-warning";
                            }
                            else if (!user.Request)
                            {
                                ViewData["Request"] = "table-success";
                            }
                            <tr class="@ViewData["Request"]">
                                <td scope="row">
                                    @user.Day
                                </td>
                                <td scope="row">
                                    @user.DayEnd
                                </td>
                                <td>
                                    @user.HHoliday
                                </td>
                                <td>
                                    @if ((user.Request))
                                    {
                                        <button class="dropdown-item text-danger" type="button" onclick="document.getElementById('delete-form').submit();">
                                            <i class="fa-solid fa-trash"></i>&nbsp;Elimina
                                        </button>
                                        <form hidden autocomplete="off" id="delete-form" method="post" action="@Url.Action(MVC.Dipendenti.Users.Delete(user.Id))">
                                            <input type="hidden" asp-for="@user.Day" />
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="table-container-d">
        <h3 class="sticky-column-d">SmartWorking</h3>
        <table class="table table-d">
            <thead>
                <tr class="sticky-column-d">
                    <th class="th-d" scope="col">Data</th>
                    <th class="th-d" scope="col">Ore Smart Working</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @if (Model.AnySmartworking().Count() == 0)
                {
                    <tr>
                        <td colspan="4">Nessun elemento trovato</td>
                    </tr>
                }
                else
                {
                    @foreach (var user in Model.AnySmartworking())
                    {
                        if (user.HSmartWork != 0)
                        {
                            if (user.Request)
                            {
                                ViewData["Request"] = "table-warning";
                            }
                            else if (!user.Request)
                            {
                                ViewData["Request"] = "table-success";
                            }
                            <tr class="@ViewData["Request"]">
                                <td scope="row">
                                    @user.Day
                                </td>
                                <td>
                                    @user.HSmartWork
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        </div>
        <div class="table-container-d">
            <h3 class="sticky-column-d">Permessi</h3>
            <table class="table table-d">
                <thead>
                    <tr class="sticky-column-d">
                        <th class="th-d" scope="col">Data</th>
                        <th class="th-d" scope="col">Ore Permessi</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                @if (Model.AnyPermessi().Count() == 0)
                    {
                        <tr>
                            <td colspan="4">Nessun elemento trovato</td>
                        </tr>
                    }
                    else
                    {
                    @foreach (var user in Model.AnyPermessi())
                        {
                            if (user.HPermessi != 0)
                            {
                                if (user.Request)
                                {
                                    ViewData["Request"] = "table-warning";
                                }
                                else if (!user.Request)
                                {
                                    ViewData["Request"] = "table-success";
                                }
                                <tr class="@ViewData["Request"]">
                                    <td scope="row">
                                        @user.Day
                                    </td>
                                    <td>
                                        @user.HPermessi
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
    </div>
}