@model Template.Web.Areas.Dipendenti.Users.IndexDipendentiViewModel
@{
    ViewData["Title"] = ((Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY]).NomeCognome;
    ViewData["Fullday"] = 8;
}
@section pageTitle {
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <h1>@ViewData["Title"]</h1>
            </div>
        </nav>
        <a class="btn btn-primary" href="@Url.Action(MVC.Dipendenti.Users.Ferie())" role="button">Richiedi Ferie</a>
        <a class="btn btn-primary" href="@Url.Action(MVC.Dipendenti.Users.SmartWorking())" role="button">SmartWorking</a>
    </div>   
}
@section pageSubtitle{
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date Inizo</th>
                    <th scope="col">Date Fine</th>
                    <th scope="col">WorkHour</th>
                    <th scope="col">SmartWork</th>
                    <th scope="col">Holiday</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @if (Model.Users.Any() == false)
                {
                    <tr>
                        <td colspan="4">Nessun elemento trovato con i filtri correnti</td>
                    </tr>
                }
                else
                {
                    @foreach (var user in Model.Users)
                    {
                        @if (user.Request == false)
                        {
                            ViewData["Request"] = "";
                        } 
                        else if (user.Request) 
                        {
                            ViewData["Request"] = "table-warning";
                        }
                        else if (!user.Request)
                        {
                            ViewData["Request"] = "table-success";
                        }
                        <tr class="@ViewData["Request"]">
                            <th scope="row">
                                @user.Day
                            </th>
                            <th scope="row">
                                @user.DayEnd
                            </th>
                            <td>
                                @if ((user.HSmartWork == 0 && user.HHoliday == 0))
                                {
                                    @ViewData["Fullday"];
                                }
                                else
                                {
                                    @Model.LessWork(user.HSmartWork, user.HHoliday)
                                }
                            </td>
                            <td>
                                @user.HSmartWork
                            </td>
                            <td>
                                @user.HHoliday
                            </td>
                            <td>
                                @if ((user.Request))
                                {
                                    <button class="dropdown-item text-danger" type="button" onclick="document.getElementById('delete-form').submit();">
                                        <i class="fa-solid fa-trash"></i>&nbsp;Elimina
                                    </button>
                                    <form hidden autocomplete="off" id="delete-form" method="post" action="@Url.Action(MVC.Dipendenti.Users.Delete(user.Day))">
                                        <input type="hidden" asp-for="@user.Day" />
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}


