@model Template.Web.Areas.CapoSettore.Users.IndexViewModel

@section pageTitle {
    <style>
        ul#navigazione li {
            display: inline;
        }
    </style>

@*     <nav>
        <ul id="navigazione">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">Gli autori</a></li>
            <li><a href="/refactoring">Il progetto four2five</a></li>
            <li><a href="/archives">Archivio</a></li>
        </ul>
    </nav> *@

    <div class="container">
        <div class="row g-4 align-items-end">
            <form method="get" action="@Url.Action(MVC.CapoSettore.Users.Index())">
                <div class="row">
                    <div class="col">
                        <input type="date" class="form-control" id="startDate" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" id="endDate" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mb-2">Aggiorna</button>
                    </div>
                    <div class="col">
                        @foreach (var req in Model.Days)
                        {
                            @if (req.Request)
                            {
                                <a href="@Url.Action(MVC.CapoSettore.Users.ManageRequest())">
                                    <img src="~/images/red-request.png" alt="logo request" width="40" height="40" />
                                </a>
                                break;
                            }
                        }
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="@Url.Action(MVC.Dipendenti.Users.Index())">Richieste</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div class="table-container" id="scrolling-container">
    <div class="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th class="dipendenti sticky-column" style="width: 200px;">Dipendenti</th>
                    @foreach (var day in Model.CalendarData.SelectMany(week => week))
                    {
                        <th class="@day.CssClass">
                            <span>@day.Status</span>
                            <br />
                            <span>@day.Day</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="dipendenti sticky-column">@user.FirstName @user.LastName</td>
                        @foreach (var day in Model.CalendarData.SelectMany(week => week))
                        {
                            bool cellFilled = false;
                            foreach (var req in Model.Days)
                            {
                                if (req.UserId == user.Id && req.Day <= day.Date && req.DayEnd >= day.Date)
                                {
                                    if (req.HHoliday != 0 && !day.CssClass.Contains("sabato") && !day.CssClass.Contains("domenica") && !day.CssClass.Contains("festività"))
                                    {
                                        if (req.Request)
                                        {
                                            <td class="@day.CssClass">RF</td>
                                        }
                                        else
                                        {
                                            <td class="@day.CssClass">Ferie</td>
                                        }
                                        cellFilled = true;
                                        break;
                                    }
                                    else if (req.HSmartWork != 0)
                                    {
                                        <td class="@day.CssClass">Smart Working</td>
                                        cellFilled = true;
                                        break;
                                    }
                                }
                            }
                            if (!cellFilled)
                            {
                                <td class="@day.CssClass"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>Form considerazioni: <a href="https://forms.gle/rzpi6xJrke17fCbh6">Link al form</a></p>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var container = document.getElementById("scrolling-container");
            var currentDay = document.querySelector(".current-day");

            if (currentDay) {
                container.scrollLeft = currentDay.offsetLeft;
            }
        });
    </script>
}
