@model Template.Web.Areas.CapoSettore.Users.IndexViewModel

@section pageTitle {
    <div class="container">
                <h1>Riepilogo richieste</h1>
    </div>
    <div class="container">
        <div class="row g-4 align-items-end">
            <form method="get" action="@Url.Action(MVC.CapoSettore.Users.Index())">
                <div class="row">
                    <div class="col-3">
                        @if (Model.Days.Any(req => req.Request))
                        {
                            <a class="btn btn-warning" href="@Url.Action(MVC.CapoSettore.Users.ManageRequest())">
                                Richieste da valutare
                                <span class="badge badge-light">@Model.Days.Count(req => req.Request)</span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-primary" href="@Url.Action(MVC.CapoSettore.Users.ManageRequest())">
                                Richieste da valutare
                            </a>
                        }
                    </div>
                    <div class="col-2">
                        <input type="date" class="form-control" id="startDate" name="startDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-2">
                        <input type="date" class="form-control" id="endDate" name="endDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary mb-2">Aggiorna</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div class="legend">
    <span class="legend-item RV">RV: Richiesta da valutare</span>
    <span class="legend-item A">A: Richiesta accettata</span>
    <span class="legend-item SW">SW: Smart Working</span>
</div>
<div class="table-container" id="scrolling-container">
    <div class="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th class="dipendenti sticky-column" style="width: 200px;">Dipendenti</th>
                    @foreach (var day in Model.CalendarData.SelectMany(week => week))
                    {
                        <th class="@day.CssClass text-center">
                            <span>@day.Status</span>
                            <br />
                            <span>@day.Day/@day.Date.Month</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="dipendenti sticky-column">@user.FirstName @user.LastName</td>
                        @foreach (var day in Model.CalendarData.SelectMany(week => week))
                        {
                            bool cellFilled = false;
                            foreach (var req in Model.Days)
                            {
                                if (req.UserId == user.Id && req.Day <= day.Date && req.DayEnd >= day.Date)
                                {
                                    if (req.HHoliday != 0 && !day.CssClass.Contains("sabato") && !day.CssClass.Contains("domenica") && !day.CssClass.Contains("festività"))
                                    {
                                        if (req.Request)
                                        {
                                            <td class="@day.CssClass RV">RV</td>
                                        }
                                        else
                                        {
                                            <td class="@day.CssClass A">A</td>
                                        }
                                        cellFilled = true;
                                        break;
                                    }
                                    else if (req.HSmartWork != 0)
                                    {
                                        <td class="@day.CssClass SW">SW</td>
                                        cellFilled = true;
                                        break;
                                    }
                                }
                            }
                            if (!cellFilled)
                            {
                                <td class="@day.CssClass"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>Form considerazioni: <a href="https://forms.gle/rzpi6xJrke17fCbh6">Link al form</a></p>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var container = document.getElementById("scrolling-container");
            var currentDay = document.querySelector(".current-day");

            if (currentDay) {
                container.scrollLeft = currentDay.offsetLeft;
            }
        });
    </script>
}
