@model Template.Web.Areas.CapoSettore.Users.IndexViewModel

@section pageTitle {
    <div class="container">
        <div class="row g-4 align-items-end">
            <form method="get" action="@Url.Action(MVC.CapoSettore.Users.Index())">
                <div class="row">
                    <div class="col">
                        <input type="date" class="form-control" id="startDate" name="startDate" />
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" id="endDate" name="endDate" />
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary mb-2">Aggiorna</button>
                    </div>
                    <div class="col">
                        @foreach (var req in Model.Days)
                        {
                            if (!req.Request)
                            {
                                <a asp-action="ManageRequest" asp-controller="Users" asp-area="CapoSettore">
                                    <img src="~/images/red-request.png" alt="logo request" width="40" height="40" />
                                </a>
                                break;
                            }
                        }
                    </div>
                    <div class="col">
                        <a class="btn btn-primary" href="@Url.Action(MVC.Dipendenti.Users.Index())">Portale</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

<div class="table-container" id="scrolling-container">
    <div class="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th class="sticky-column" style="width: 200px;">Dipendenti</th>
                    @foreach (var day in Model.CalendarData.SelectMany(week => week))
                    {
                        <th class="@day.CssClass">
                            <span>@day.Day</span>
                            <br />
                            <span>@day.Status</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td class="sticky-column">@user.FirstName @user.LastName</td>
                        @foreach (var day in Model.CalendarData.SelectMany(week => week))
                        {
                            bool cellFilled = false;
                            foreach (var req in Model.Days)
                            {
                                if (req.UserId == user.Id && day.CssClass == "lavorativo" && req.Day <= day.Date && req.DayEnd >= day.Date)
                                {
                                    if (req.HHoliday != 0 && req.Request)
                                    {
                                        <td class="@day.CssClass">Ferie</td>
                                        cellFilled = true;
                                        break;
                                    }
                                    else if (req.HSmartWork != 0)
                                    {
                                        <td class="@day.CssClass">Smart Working</td>
                                        cellFilled = true;
                                        break;
                                    }
                                }
                            }
                            if (!cellFilled)
                            {
                                <td class="@day.CssClass"></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var container = document.getElementById("scrolling-container");
            var currentDay = document.querySelector(".current-day");

            if (currentDay) {
                container.scrollLeft = currentDay.offsetLeft;
            }
        });
    </script>
}
