@model Template.Web.Areas.CapoSettore.Users.IndexViewModel

@section pageTitle {
    <div class="container row g-4">
        <div class="col-auto mb-4">
            <label for="startData" class="form-control-start">Data di inzio:</label>
            <input type="date" class="form-control" id="startDate" />
        </div>
        <div class="col-auto mb-4">
           <label for="endDate" class="form-control-end">Data di fine:</label>
           <input type="date" class="form-control" id="endDate" />
        </div>
        <div class="col-auto">
            <a class="btn btn-primary">Aggiorna</a>
        </div>
        <div class="col-auto ms-auto">
            <a class="btn btn-primary" href=" @Url.Action(MVC.Dipendenti.Users.Index())">Portale</a>
        </div>
    </div>
}
 
<div class="table-container" id="scrolling-container">
    <div class="table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 200px;">Dipendenti</th>
                    @foreach (var day in Model.CalendarData.SelectMany(week => week))
                    {
                        <th class="@day.CssClass">
                            <span>@day.Day</span>
                            <br />
                            <span>@day.Status</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        @foreach (var day in Model.CalendarData.SelectMany(week => week))
                        {
                            <td class="@day.CssClass">
                                
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var container = document.getElementById("scrolling-container");
        var currentDay = document.querySelector(".current-day");

        container.scrollLeft = currentDay.offsetLeft;
    });
</script>