@model Template.Web.Areas.CapoSettore.Users.ManageRequestViewModel

@section pageTitle {
    <h1>Richieste in attesa di essere valutate</h1>
}

<div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Dipendenti</th>
                <th>Periodo Inizio</th>
                <th>Periodo Fine</th>
                <th>Accetta</th>
                <th>Rifiuta</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var req in Model.Days.Where(r => r.Request && r.HHoliday != 0))
            {
                var user = Model.Users.FirstOrDefault(u => u.Id == req.UserId);
                if (user != null)
                {
                    <tr>
                        <td>@user.FirstName @user.LastName</td>
                        <td>@req.Day.ToString("dd/MM/yyyy")</td>
                        <td>@req.DayEnd.ToString("dd/MM/yyyy")</td>
                        <td>
                            <form asp-action="Accept" method="post">
                                <input type="hidden" name="Id" value="@req.Id" />
                                <button type="submit" class="btn btn-success">V</button>
                            </form>
                        </td>
                        <td>
                            <form asp-action="Reject" method="post">
                                <input type="hidden" name="Id" value="@req.Id" />
                                <button type="submit" class="btn btn-danger">X</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>