@model Template.Web.Areas.CapoSettore.Users.ManageRequestViewModel

@section pageTitle {
    <h1>Richieste in attesa di essere valutate</h1>
    <style>
        ul#navigazione li {
            display: inline;
        }
    </style>

    <nav>
        <ul id="navigazione">
            <li><a class="btn btn-primary" href="@Url.Action(MVC.CapoSettore.Users.Index())">Home</a></li>
            <li><a class="btn btn-primary" href="/Dipendenti">Le mie richieste</a></li>
        </ul>
    </nav>
}

<div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Dipendenti</th>
                <th>Periodo Inizio</th>
                <th>Periodo Fine</th>
                <th>Accetta</th>
                <th>Rifiuta</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var user in Model.Users)
            {
                @foreach(var req in Model.Days)
                {
                    if (user.Id == req.UserId)
                    {
                        @if (req.Request == true)
                        {
                            @if (req.HHoliday != 0)
                            {
                                <tr>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@req.Day</td>>
                                    <td>@req.DayEnd</td>
                                    <td>
                                        <form asp-action="Accept" method="post">
                                            <input type="hidden" name="Id" value="@req.Id" />
                                            <button type="submit" class="btn btn-success">V</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form asp-action="Reject" method="post">
                                            <input type="hidden" name="Id" value="@req.Id" />
                                            <button type="submit" class="btn btn-danger">X</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>

<p>Form considerazioni: <a href="https://forms.gle/rzpi6xJrke17fCbh6">Link al form</a></p>