@model Template.Web.Areas.CapoSettore.Users.ManageRequestViewModel

@section pageTitle {
    <div class="container">
        <div class="col">
            <a class="btn btn-primary" href="@Url.Action(MVC.CapoSettore.Users.Index())">Dashboard</a>
        </div>
    </div>
}

<div>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Dipendenti</th>
                <th>Periodo Inizio</th>
                <th>Periodo Fine</th>
                <th>Accetta</th>
                <th>Rifiuta</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var user in Model.Users)
            {
                @foreach(var req in Model.Days)
                {
                    if (user.Id == req.UserId)
                    {
                        @if (req.Request == true)
                        {
                            @if (req.HHoliday != 0)
                            {
                                <tr>
                                    <td>@user.FirstName @user.LastName</td>
                                    <td>@req.Day</td>>
                                    <td>@req.DayEnd</td>
                                    <td>
                                        <form asp-action="Accept" method="post">
                                            <input type="hidden" name="Id" value="@req.Id" />
                                            <button type="submit" class="btn btn-success">V</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form asp-action="Reject" method="post">
                                            <input type="hidden" name="Id" value="@req.Id" />
                                            <button type="submit" class="btn btn-danger">X</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>